---
repos:
  - repo: local
    hooks:
      - id: ruff-lint-diff
        # https://github.com/astral-sh/ruff-pre-commit
        name: ruff-lint-diff
        description: "Show diff of ruff for linting"
        entry: ruff check --diff --force-exclude
        language: system
        types_or:
          - python
          - pyi
          - jupyter
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
        verbose: true
      - id: ruff-lint
        # https://github.com/astral-sh/ruff-pre-commit
        name: ruff-lint
        description: "Fix by ruff for linting"
        entry: ruff check --fix --force-exclude
        language: system
        types_or:
          - python
          - pyi
          - jupyter
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
      - id: ruff-format-diff
        name: ruff-format-diff
        description: "Show diff of ruff for formatting"
        entry: ruff format --diff --force-exclude
        language: python
        types_or:
          - python
          - pyi
          - jupyter
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
        verbose: true
      - id: ruff-format
        name: ruff-format
        description: "Fix by ruff for formatting"
        entry: ruff format --force-exclude
        language: python
        types_or:
          - python
          - pyi
          - jupyter
        require_serial: true
        minimum_pre_commit_version: "2.9.2"
      - id: black-diff
        name: black-diff
        entry: black
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        args:
          - "--diff"
          - "--color"
          - "--quiet"
        verbose: true
      - id: black
        # https://github.com/psf/black-pre-commit-mirror
        name: black
        entry: black
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        args:
          - "--quiet"
      - id: blacken-docs
        # https://github.com/asottile/blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
      - id: autoflake-diff
        name: autoflake-diff
        entry: autoflake
        language: system
        types:
          - python
        require_serial: true
        verbose: true
      - id: autoflake
        # https://github.com/PyCQA/autoflake
        name: autoflake
        entry: autoflake
        language: system
        types:
          - python
        require_serial: true
        args:
          - "--in-place"
      - id: autopep8-diff
        name: autopep8-diff
        entry: autopep8
        language: system
        types:
          - python
        args:
          - "--diff"
        verbose: true
      - id: autopep8
        # https://github.com/hhatto/autopep8
        name: autopep8
        entry: autopep8
        language: system
        types:
          - python
        args:
          - "--in-place"
      - id: isort-diff
        name: isort-diff
        entry: isort
        language: system
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
        args:
          - '--diff'
          - '--filter-files'
        verbose: true
      - id: isort
        # https://github.com/PyCQA/isort
        name: isort
        entry: isort
        language: system
        require_serial: true
        types_or:
          - cython
          - pyi
          - python
        args:
        - '--filter-files'
      - id: flake8
        # https://gitlab.com/pycqa/flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python
        require_serial: true
      - id: bandit
        # https://github.com/PyCQA/bandit
        name: bandit
        entry: bandit
        language: system
        types:
          - python
        args:
          - "-c"
          - "pyproject.toml"
      - id: mypy
        # https://github.com/pre-commit/mirrors-mypy
        name: mypy
        entry: mypy
        language: system
        types_or:
          - python
          - pyi
        require_serial: true
        pass_filenames: false
      - id: numpydoc-validation
        # https://github.com/numpy/numpydoc
        name: numpydoc-validation
        entry: numpydoc lint
        require_serial: true
        language: system
        types:
          - python
      - id: shellcheck
        # https://github.com/shellcheck-py/shellcheck-py
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        require_serial: true
      - id: mdformat-check
        name: mdformat-check
        entry: mdformat
        language: system
        types: [markdown]
        args:
          - "--check"
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: validate-pyproject
        name: validate-pyproject
        entry: validate-pyproject
        language: system
        files: ^pyproject.toml$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-case-conflict
      - id: check-merge-conflict
        args:
          - "--assume-in-merge"
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: debug-statements
      - id: detect-private-key
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
        args:
          - "-ignore=SC2129"  # allow individual redirects ({} >> file is not allowed in GitHub Actions' run)
