---
name: publish

on:
  schedule:
      - cron:  '0 0 1 * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - name: Compare to the last tag
        id: check
        run: |
          git pull --tags
          last_tag=$(git tag --sort=version:refname | tail -n1)
          echo "$last_tag"
          if [ -n "$(git diff "$last_tag" src pyproject.toml)" ];then
            echo "flag=1" >> "$GITHUB_OUTPUT"
          else
            echo "flag=0"  >> "$GITHUB_OUTPUT"
          fi
      - name: Update tag
        id: update
        if: ${{ steps.check.outputs.flag == 1 }}
        run: |
          last_tag=$(git tag --sort=version:refname | tail -n1)
          minor=${last_tag##*.}
          ((++minor))
          new_tag=${last_tag%.*}.${minor}
          new_tag_no_v=${new_tag#v}
          sed -i"" "s/^version.*$/version = \"${new_tag_no_v}\"/" pyproject.toml
          if [ -n "$(git diff)" ];then
            { echo "flag=1"; echo "last_tag=${last_tag}"; echo "new_tag=${new_tag}"; } >> "$GITHUB_OUTPUT"
          else
            echo "flag=0"  >> "$GITHUB_OUTPUT"
          fi
      - name: Commit and push
        if: ${{ steps.check.outputs.flag == 1 && steps.update.outputs.flag == 1 }}
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          PRE_COMMIT_ALLOW_NO_CONFIG=1 git commit -m "update tag"
      - name: Make new tag
        if: ${{ steps.check.outputs.flag == 1 && steps.update.outputs.flag == 1 }}
        run: |
          comment=$(git log --pretty='%h - %s (%an)' ${{ steps.update.outputs.last_tag }}..HEAD|cut -d'-' -f2-)
          git tag -a ${{ steps.update.outputs.new_tag }} -m "${comment}"
          git push --tag
      - name: Push
        if: ${{ steps.check.outputs.flag == 1 && steps.update.outputs.flag == 1 }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ github.token }}
          branch: main
      - name: Push new tag
        if: ${{ steps.check.outputs.flag == 1 && steps.update.outputs.flag == 1 }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ github.token }}
          tags: true
      - uses: actions/setup-python@v6
        if: ${{ steps.check.outputs.flag == 1 }}
        with:
          python-version: "3.14"
      - name: Publish to PyPI
        if: ${{ steps.check.outputs.flag == 1 }}
        run: |
          pip install poetry
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish --build
